body {
  padding: 50px;
  font: 14px D2Coding, 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.row {
  display: flex;
}

.col {
  flex: 1 0 0%;
}

#response li label:first-child {
  padding-right: 1rem;
}

#userList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

#userList li {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2px;
  padding: 4px;
}
