body {
  margin: 0;
  padding: 3rem;
  font: 0.875rem D2Coding, 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.row .col {
  flex: 1 0 0%;
  border: 1px solid #eee;
  padding: 1rem;
}

#response li label:first-child {
  padding-right: 1rem;
}

#userList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

#userList li {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 0.125rem;
  padding: 0.25rem;
}
